.bg-chef
    background-image: url(../../images/team_background.jpg)
    background-repeat: no-repeat
    
    height: 600px
.bg-chef
    .border-x  
        img
            border-bottom: solid white
        h1 
            color: white
            font-size: 19px






// .chef-relative
//     position: relative
//     width: 100%
    

// .chef-1
//     position: absolute
//     top: 120px
//     left: 150px
    
// .chef-2
//     position: absolute
//     top: 120px
//     right: 90px
// .chef-3
//     position: absolute
//     top: 120px
//     right: 450px
// .chef-4
//     position: absolute
//     top: 120px
//     left: 800px
    