body
    margin: 0px
    padding: 0px



.p-relative
    position: relative
    top: 100px

.p-absolute
    position: absolute
    bottom: 1200px
    left: 25%

.p-relative2
    position: relative

.p-absolute2
    position: absolute
    bottom: 500px
    left: 20%


.nav-link
    text-decoration: none
    color: black

.carousel-indicators
    margin-top: 500px
    
.centered
    padding: 200px

.a-style
    color: white
    font-size: 20px
    // opacity: 2
    border-bottom: solid 2px 
    border-top: solid 2px 
    padding: 15px
    text-decoration: none 

.a-style:hover
    background-color: red


// Our-story 


  







        

    
       


    


   
        

