.menu
    background-image: url(../../images/main_bg.jpg)
    .page
        background-color: white
        width: 70%
        margin-left: 300px
        margin-right: 300px
        img 
            // margin-left: 200px
.row
    img 
        border-radius: 100%
        border: solid whitesmoke 5px

    


// .menu
//     img 
//         display: flex 
//         align-items: center      
.span-red
    color: red

// .absolute
//     position: absolute
// .box-right-top-grey
//     position: absolute
//     right: 0
// .box-bottom-left-grey
//     position: absolute
//     bottom: 0
// .box-bottom-right-grey
//     position: absolute
//     bottom:0
//     right:0
// .decoration_line
//     position: absolute
//     bottom: 30px
//     left: 300px

    

    
