.bg-image
    background-image: url(../../images/main_bg.jpg)
    width: 100%
    height: 1400px

.bg-relatif
    position: relative
    top: 100px
    background-color: white
    border: solid grey
    width: 1500px
    height: 1200px
    padding: 0
.OUR-Story
    position: absolute
    width: 40%
    top: 10px
    left: 300px

    h1
        text-align: center
        font-family: 'Courgette', cursive
    img 
       margin-right: 20px
    p
        margin-top: 20px
        margin-left: 15px
.OUR2-Story
    position: absolute
    width: 40%
    bottom: 650px
    left: 300px
    font-family: 'Courgette', cursive
    h1 
        text-align: center
        
.span-red
    color: red


.absolute
    position: absolute
.box-right-top-grey
    position: absolute
    right: 0
.box-bottom-left-grey
    position: absolute
    bottom: 0
.box-bottom-right-grey
    position: absolute
    bottom:0
    right:0
.decoration_line
    position: absolute
    bottom: 30px
    left: 300px

    

    
