.bg-image
    background-image: url(../../images/main_bg.jpg)
    width: 100%
    height: 1000px

.box-left-top
    background-image: url(../../images/box-left-top-grey.png)
    width: 40px
.width
    width: 40px
