.img-testimonials
    background-image: url(../../images/testimonials_background.jpg)
    background-repeat: no-repeat
    width: 100%
    height: 800px


.card-img
    border-radius: 50%
    border: 3px solid lightgrey
.card 
    background: none